.git
.github
.devcontainer
__pycache__
*.py[cod]
.ipynb_checkpoints
.env
.venv
venv
env
downloads
logs
weights
clean_song_output
audio
audio2
outputs
processed
OPENVOICE_MODELS
PIPER_MODELS
WHISPER_MODELS
_XTTS_
uroman
*.mp4
*.mkv
*.wav
*.ogg
*.mp3
*.pt
mdx_models/*.onnx
.vscode
*.md
!README.md
